[submodule "lib/Motor"]
	path = lib/Motor
	url = https://github.com/RescueOnWheels/Motor
	ignore = dirty
[submodule "lib/Larynx"]
	path = lib/Larynx
	url = https://github.com/RescueOnWheels/Larynx
	ignore = dirty
