[submodule "Motor"]
	path = lib/Motor
	url = https://github.com/RescueOnWheels/Motor
	ignore = dirty
[submodule "Larynx"]
	path = lib/Larynx
	url = https://github.com/RescueOnWheels/Larynx
	ignore = dirty
[submodule "Nervi"]
	path = lib/Nervi
	url = https://github.com/RescueOnWheels/Nervi
	ignore = dirty
